/.*project
/.settings
/.autotools
/*.user
/*.user.*
/doc/
build*/
cmake-build-*/
/debian/
/*.vscode
radio/src/tests/googletest*
radio/src/tests/gtest*.tar.gz
CMakeCache.txt
CMakeFiles
Makefile
radio/src/bitmaps/*/*.lbm
*.cmake
firmware.bin
firmware.elf
radio/src/firmware.map
radio/src/lua/lua_exports_*
radio/src/lua/lua_fields_*
radio/src/stamp.h
radio/src/targets/common/arm/stm32/bootloader/bootloader.bin
radio/src/targets/common/arm/stm32/bootloader/bootloader.elf
radio/src/targets/common/arm/stm32/bootloader/bootloader.lbm
radio/src/targets/common/arm/stm32/bootloader/bootloader.map
radio/src/targets/common/arm/stm32/bootloader/firmware.lst
radio/src/translations/*.h
